SolvrSolution/SolvrDesktopClient/Connected Services/RemoteSolvrReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolvrLibrary" />
  <xs:element name="IsConnectedToDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectedToDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectedToDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="withUsers" type="xs:boolean" />
        <xs:element minOccurs="0" name="withComments" type="xs:boolean" />
        <xs:element minOccurs="0" name="notDisabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetPostResult" nillable="true" type="q2:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="withUser" type="xs:boolean" />
        <xs:element minOccurs="0" name="withVotes" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetCommentResult" nillable="true" type="q3:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetCategoryResult" nillable="true" type="q4:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetReportResult" nillable="true" type="q5:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offSet" type="xs:int" />
        <xs:element minOccurs="0" name="loadCount" type="xs:int" />
        <xs:element minOccurs="0" name="withUsers" type="xs:boolean" />
        <xs:element minOccurs="0" name="withComments" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetPostListResult" nillable="true" type="q6:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:int" />
        <xs:element minOccurs="0" name="withUsers" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetCommentListResult" nillable="true" type="q7:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetCategoryListResult" nillable="true" type="q8:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notResolved" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetReportListResult" nillable="true" type="q9:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="GetVoteListResult" nillable="true" type="q10:ArrayOfVote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="user" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="CreateUserResult" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="post" nillable="true" type="q13:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="CreatePostResult" nillable="true" type="q14:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="comment" nillable="true" type="q15:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="CreateCommentResult" nillable="true" type="q16:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="report" nillable="true" type="q17:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="CreateReportResult" nillable="true" type="q18:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="post" nillable="true" type="q19:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="UpdatePostResult" nillable="true" type="q20:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="comment" nillable="true" type="q21:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="UpdateCommentResult" nillable="true" type="q22:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="report" nillable="true" type="q23:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SolvrLibrary" minOccurs="0" name="UpdateReportResult" nillable="true" type="q24:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>