SolvrSolution/SolvrWebClient/Connected Services/RemoteSolvrReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolvrService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SolvrLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolvrServices_IsConnectedToDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedToDatabase" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_IsConnectedToDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetComment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComment" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetPostList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostList" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetPostList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostListResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCommentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentList" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCommentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentListResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetReportList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportList" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetReportList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportListResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetVoteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoteList" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_GetVoteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoteListResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePost" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePostResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComment" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReport" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_CreateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePost" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePostResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComment" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReport" />
  </wsdl:message>
  <wsdl:message name="ISolvrServices_UpdateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolvrServices">
    <wsdl:operation name="IsConnectedToDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/IsConnectedToDatabase" message="tns:ISolvrServices_IsConnectedToDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/IsConnectedToDatabaseResponse" message="tns:ISolvrServices_IsConnectedToDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetUser" message="tns:ISolvrServices_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetUserResponse" message="tns:ISolvrServices_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetPost" message="tns:ISolvrServices_GetPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetPostResponse" message="tns:ISolvrServices_GetPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetComment" message="tns:ISolvrServices_GetComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetCommentResponse" message="tns:ISolvrServices_GetComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetCategory" message="tns:ISolvrServices_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetCategoryResponse" message="tns:ISolvrServices_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetReport" message="tns:ISolvrServices_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetReportResponse" message="tns:ISolvrServices_GetReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetPostList" message="tns:ISolvrServices_GetPostList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetPostListResponse" message="tns:ISolvrServices_GetPostList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetCommentList" message="tns:ISolvrServices_GetCommentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetCommentListResponse" message="tns:ISolvrServices_GetCommentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetCategoryList" message="tns:ISolvrServices_GetCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetCategoryListResponse" message="tns:ISolvrServices_GetCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetReportList" message="tns:ISolvrServices_GetReportList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetReportListResponse" message="tns:ISolvrServices_GetReportList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/GetVoteList" message="tns:ISolvrServices_GetVoteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/GetVoteListResponse" message="tns:ISolvrServices_GetVoteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/CreateUser" message="tns:ISolvrServices_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/CreateUserResponse" message="tns:ISolvrServices_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/CreatePost" message="tns:ISolvrServices_CreatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/CreatePostResponse" message="tns:ISolvrServices_CreatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/CreateComment" message="tns:ISolvrServices_CreateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/CreateCommentResponse" message="tns:ISolvrServices_CreateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/CreateReport" message="tns:ISolvrServices_CreateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/CreateReportResponse" message="tns:ISolvrServices_CreateReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/UpdatePost" message="tns:ISolvrServices_UpdatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/UpdatePostResponse" message="tns:ISolvrServices_UpdatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/UpdateComment" message="tns:ISolvrServices_UpdateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/UpdateCommentResponse" message="tns:ISolvrServices_UpdateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolvrServices/UpdateReport" message="tns:ISolvrServices_UpdateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolvrServices/UpdateReportResponse" message="tns:ISolvrServices_UpdateReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolvrServices" type="tns:ISolvrServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsConnectedToDatabase">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/IsConnectedToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetPostList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetCommentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportList">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetReportList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoteList">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/GetVoteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePost">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/CreatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateComment">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/CreateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/CreateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/UpdatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/UpdateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReport">
      <soap:operation soapAction="http://tempuri.org/ISolvrServices/UpdateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolvrService">
    <wsdl:port name="BasicHttpBinding_ISolvrServices" binding="tns:BasicHttpBinding_ISolvrServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfHelloService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>